body{
  background-color: #7b9fad;
  font-family: 'FontName', Fallback, sans-serif;
  font-size: large;
}

h1{
  background-color: #333842;
  font-style: italic;
  color: white;
  background: linear-gradient(-20deg, #d7deea, #676e7c);
  text-shadow: 2px 2px 4px #000000;
  border: solid black;
  line-height: 10%;
  padding: 1%;
}

#Host{
  width: 30%;
  height:60%;
  background-color: #f4fcfc;
  border: 5px solid #79869b;
  border-radius: 35px;
  line-height: 50%;
  margin-bottom: 5%;
  padding: 1% 1%;
  float: left;
}

#Student{
  width: 30%;
  height:60%;
  background-color: #f4fcfc;
  border: 5px solid #79869b;
  border-radius: 35px;
  line-height: 50%;
  margin-bottom: 2.5%;
  padding: 1% 1%;
  float:left;
}

#Student_Questions{
  width: 30%;
  height:60%;
  background-color: #f4fcfc;
  border: 5px solid #79869b;
  border-radius: 35px;
  line-height: 50%;
  margin-bottom: 2.5%;
  padding: 1% 1%;
  float:left;
}

#Student_Notes{
  background-color: #f4fcfc;
  border: solid #7c889b;
  line-height: 20%;
  width: 30%;
  padding: 1% 2%;

}

#Submit_For_Notes{
  margin-left: 64%;

}


 /*rewriting standard style, it is necessary to be able to change the size*/
#submitQ{
  width: 5%;
  float: right;


}

#Question_Box{
  background-color: #f4fcfc;
  border: solid #7c889b;
  line-height: 20%;
  width: 20%;
  padding: 1% 2%;
  float: right;
}

#submitQ{
  float: right;
}
