body{
  background-color: #fcf8d6;
}

h1{
  background-color: #333842;
  font-style: italic;
  font-size:30px;
  color: white;
  border: 1px solid black;
  line-height: 10%;
  padding: 2% 1%;
}

section{
  width: 80%;
  height:60%;
  background-color: white;
  border: 5px solid lightgrey;
  line-height: 50%;
  margin-bottom: 4%;
  padding: 1% 2%;
}

#typer{
  background-color: white;
  border: solid #7c889b;
  line-height: 20%;
  width: 80%;
  padding: 1% 3%;
  float: left;
}

#submitbutton{
  width: 3.3%;
  height: 4%;
  padding: 1% 3%;
  background-color: white;
  color: green;
  border: solid green;
  float: right;
}
