<html>
  <head>
    <script src="static/Final.js"></script>
    <title> Host </title>
    <link rel="stylesheet" href="static/host.css">
  </head>
    <body>
        <h1 align="left"> Quanta Canvas Host: </h1>
      
        <div id="section"> {{ chat_messages }}
        </div>
        <div>

          <form>
            <input id = 'typerhost' type = "textfield"/>

          <form method = "post">
            <input id = 'typerhost' type = "textfield" name = "chat_messages"/>
            <input type="submit" value="send message" id="send_message">
          </form>
        </div>
      </body>
</html>
