<html>
  <head>
    <script >
    </script>
    <title> Host </title>
    <link rel="stylesheet" href="css/host.css">
  </head>
    <body>
        <h1 align="left"> Quanta Canvas Host: </h1>
        <div id = 'messages'>
          {% for message in messages %}
            <p>{{ message}}</p>
          {% endfor %}
        </div>
        <div>
          <form method = "post">
            <input id = 'typerhost' type = "textfield" name = 'chat_message'/>
            <input type="submit" value="send message" id="send_message">
          </form>
        </div>
      </body>
</html>
