<html>
  <head>
    <script >
    </script>
    <title> Host </title>
    <link rel="stylesheet" href="static/host.css">
  </head>
    <body>
        <h1 align="left"> Quanta Canvas Host: </h1>
        <img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/NYCS-bull-trans-Q.svg/1024px-NYCS-bull-trans-Q.svg.png" align="top" width= "15%" height="22%">
        <div id="section"> {{ chat_messages }}
        </div>
        <div>
          <form method = "post">
            <input id = 'typerhost' type = "textfield" name = "chat_messages"/>
            <input type="submit" value="send message" id="send_message">
          </form>
        </div>
        <div id = 'messages'>
          {% for message in messages %}
            <p>{{ name }} : {{ message.chat_messages}}</p>
          {% endfor %}
        </div>
      </body>
</html>
