<html>
  <head>
    <title> login </title>
  </head>
  <body>
    <form method="POST" action = '/login'>
      <input type= 'textbox' name = "username" placeholder= "Username"/>
      <input type= 'textbox' name = "password" placeholder= "Password"/>
      <select name = 'hostORstudent'>
        <option type = 'radio' value = "host">Host</option>
        <option type = 'radio' value = "students">Student</option>
      </select>
      <input type = 'submit' value = 'Submit'/>
    </form>
  </body>

</html>
