<html>
  <head>
    <title> login </title>
      <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <form method="post" action = '/login'>
      <input type= 'textbox' name = "username" placeholder= "Username"/>
      <input type= 'password' name = "password" placeholder= "Password"/>
      <select name = 'hostORstudent'>
        <option value = "host">Host</option>
        <option value = "students">Student</option>
      </select>
      <input type = 'submit' value = 'Submit'/>
    </form>
  </body>

</html>
