<html>
  <head>
    <title>Rooms</title>
    <link type="text/css" rel="stylesheet" href="/css/rooms.css">
  </head>

  <body>
    <a href="/?name={{ name }}&hostORstudent={{ hostORstudent }}">get new rooms</a>

    <form action = '/?name={{ name }}&hostORstudent={{ hostORstudent }}'>
      <input type = 'submit' value = 'Get new rooms'/>
    </form>
    <form method="post"  action = '/create?name={{ name }}&hostORstudent={{ hostORstudent }}'>
      <input type = 'submit' value = 'Create a new room!'/>
      <br/>
    </form>
    <form>
      {% for room in rooms %}
        <input type = 'button' value = 'Go to {{ room.host }} room' action ='/room?roomName={{ room.name }}'/>
        <br/>
      {% endfor %}
    </form>



  </body>

</html>
