<html>
  <head>
    <title>Rooms</title>
    <link type="text/css" rel="stylesheet" href="/css/rooms.css">
  </head>

  <body>
    <a href="/?name={{ name }}&hostORstudent={{ hostORstudent }}">get new rooms</a>

    <form action = '/?name={{ name }}&hostORstudent={{ hostORstudent }}'>
      <input type = 'submit' value = 'Get new rooms'/>
    </form>
    <a href="/login">Log In </a>
    <form method="post"  action = '/create?name={{ name }}&hostORstudent={{ hostORstudent }}'>
      <input type = "textbox" name = "Room_name" placeholder= "Room Name"/>
      <input type = 'submit' value = 'Create a new room!'/>
      <br/>
    </form>
    <div id = 'Rooms'>
    <form method = 'post'>
      {% if not student_check %}
      {% for room in rooms %}
        <a href = '/room?name={{ name }}&hostORstudent={{ hostORstudent }}&key={{ room.key.id() }}&studentKey={{ student_key }}'>{{ room.name }}</a>
        <br/>
      {% endfor %}
      {% endif %}
      {% if student_check %}
      {% for room in rooms %}
        <a href = '/room?name={{ name }}&hostORstudent={{ hostORstudent }}&key={{ room.key.id() }}'>{{ room.name }}</a>
        <br/>
      {% endfor %}
      {% endif %}


    </form>
  </div>



  </body>

</html>
