<html>
<head>
</head>
<title> Quanta Canvas </title>
<link rel="stylesheet" href="student.css">
<body>
  <h1 align= "center"><img src="Quantum_Logo.png" width= 10% height= 100px/> Quanta Canvas Student</h1>
<!-- This section will take the output from the Host !-->

<section>
  <p> Live Feed </p>

</section>

<sectiontwo>
  <p> Student </p>
</sectiontwo>

<div>
<!-- This section will let the student write !-->
<form>
  <input id = 'typer' type = "textbox"/>
</div>

<div>
<input id= "submitbutton" type = 'submit' value = 'Submit'/>
</div>
</body>
</html>
