<html>
<head>

<title> Quanta Canvas </title>
<link rel="stylesheet" href="css/student.css">
</head>
  <body>
    <h1 align= "center"><img src="quantum_header.jpg" width= 10% height= 100px> Quanta Canvas Student </h1>
  <!-- This section will take the output from the Host !-->
    <form method = 'post'>
    <div id = 'Host'>
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
    <div id = 'Student'>
      {% for note in notes %}
        <p>{{ note }}</p>
      {% endfor %}
    </div>
    <div id = 'Student_Questions'>
      {% for question in questions %}
        <p>{{ question }}</p>
      {% endfor %}
    </div>
      <form method = 'post'>
       <input type = "texbox" placeholder="Question?" name = 'student_question' id = 'Question_Box' />
       <br>
       <input type= 'submit' value = "Submit" id = 'submitQ'/>
     </form>
  <!-- This section will let the student write !-->
      <form method = 'post'>
        <input id = 'Student_Notes' type = "textbox" name = 'note_input' placeholder="Notes"/>
        <br>
        <input id = "Submit_For_Notes" type = 'submit' value = 'Submit'/>
      </form>
    <!-- {% for message in messages %}
      <div><p>{{ name }} : {{ message}}</p></div>
    {% endfor %}
    </div> -->
  </body>
</html>
